conda install pytorch torchvision torchaudio cudatoolkit=10.2 -c pytorch
conda install -c conda-forge matplotlib opencv imageio-ffmpeg pyyaml scikit-learn cython
conda install -c menpo imageio
pip install onnxruntime

pip install opencv-contrib-python
conda install -c conda-forge onnx
conda install -c conda-forge imageio-ffmpeg pyyaml tqdm
argparse는 python native여서 설치 필요없음
conda install -c anaconda cython